.container {
  display: flex;
  align-items: center;
  gap: var(--space-3);

  &:not(:first-child) {
    margin-top: var(--space-6);
  }

}
// .customAvatar {
//   span {
//     width: var(--space-11) !important;
//     height: var(--space-11) !important;

//     svg {
//       width: var(--space-5) !important;
//       height: var(--space-5) !important;
//     }
//   }
// }

.chatDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-3);
  }

  .userName {
    font-weight: 700;
  }
}

.messagePreview {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  color: var(--gray10);

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: - var(--space-5);
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--gray7);
    border-radius: var(--radii-sm);
  }
}