$app-container-h: 95vh;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  
  height: 100%;
  width: 100%;
  max-height: $app-container-h;
  margin: auto var(--space-5);
  border-radius: var(--radii-sm);

  background-color: var(--gray3);
  filter: var(--shadow-lg);
}

.content {
  display: grid;
  grid-template-columns: 32% 1fr;
}

.mainContainer {
  height: $app-container-h;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--gray7);
    border-radius: var(--radii-sm);
  }
}